body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2e2015;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4 {
  color: #000;
}

.header-bg{
  background-color: #111111 !important;
}

.navbar-toggler{
  margin: 5px 10px !important;
}

.search-bg{
  /* background-color: #f49417; */
  background: linear-gradient(to bottom, #111111, #f49417);
}

/* CARDS */

.card-bg {
  width: 19.3rem;
  margin: 10px;
  border-radius: 15px;
  padding: 0;
  border: none;
  background: linear-gradient(to bottom, #555555, #555555,#111111);
}

.card-img-top {
  width: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
  border-radius: 15px;
  box-shadow: 0 8px 6px -6px black; /* Sombra na parte de baixo */
}

.card-body-dark {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.card-img{
  max-width: 100px;
}

.card-details{
  border-radius: 15px;
  border: none;
  background: linear-gradient(to bottom, #555555, #111111);
}

.card-img-top-details {
  width: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
  border-radius: 15px;
  box-shadow: 8px 0px 16px -6px black;
}

.card-img-top:hover{
  transform: scale(.99);
  transition: all 0.3s ease;
}

.vertical-line {
  width: 1px;
  background-color: #f49417;
  height: 100%;
  margin: 8px;
}

.card-footer-dark {
  background: none;
  border-radius: 0 0 15px 15px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: #fff;
}

.primary-color{
  color: #f49417;
}

/* BOTAO */

.button {
  cursor: pointer;
  /* font-size: 1.6rem; */
  border-radius: 16px;
  border: none;
  padding: 2px;
  background: radial-gradient(circle 80px at 80% -10%, #ffffff, #1b1918);
  position: relative;
}
.button:active{
  transform: scale(0.95);
}
.button::after {
  content: "";
  position: absolute;
  width: 65%;
  height: 60%;
  border-radius: 120px;
  top: 0;
  right: 0;
  box-shadow: 0 0 20px #ffffff38;
  z-index: -1;
}

.blob1 {
  position: absolute;
  width: 70px;
  height: 100%;
  border-radius: 16px;
  bottom: 0;
  left: 0;
  background: radial-gradient(
    circle 60px at 0% 100%,
    /* #3fe9ff, */
    #f49417,
    /* #0000ff80, */
    #ff510080,
    transparent
  );
  /* box-shadow: -10px 10px 30px #0051ff2d; */
  box-shadow: -10px 10px 30px #ff51002d;
}

.inner {
  padding: 7px 25px;
  border-radius: 14px;
  color: #fff;
  z-index: 3;
  position: relative;
  background: radial-gradient(circle 80px at 80% -50%, #777777, #110f0f);
}
.inner::before {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 14px;
  background: radial-gradient(
    circle 60px at 0% 100%,
    #ff73001a,
    #0000ff11,
    transparent
  );
  position: absolute;
}

@media (max-width: 576px) {

  /* CARDS */
  .card-bg{
    width: 9.65rem;
  }
  .card-img{
    max-width: 50px;
  }
  .card-body-dark{
    padding: 4px;
  }
  .card-title{
    font-size: 12px;
  }

  /* BOTAO */
  .button{
    border-radius: 8px;
  }

  .blob1{
    width: 35px;
    border-radius: 8px;
  }

  .inner{
    padding: 4px 10px;
    border-radius: 7px;
  }

}

